/* Blur all the chat item */
div[role="listitem"] div[aria-selected="false"],
div[role="listitem"] div[aria-selected="true"],
._amid,
.focusable-list-item {
  filter: blur(3px);
  transition: filter 50ms ease-in !important;
}

/* Remove the blur effect on hovering over the account */
div[role="listitem"] div[aria-selected="false"]:hover,
._amid:hover,
.focusable-list-item:hover {
  filter: blur(0px);
}

/*  Remove the blur effect to the active chat. */
div[role="listitem"] div[aria-selected="true"] {
  filter: blur(0px);
}
